<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HPDB - PTNK</title>
</head>
<body>
  <h3>Filename: {{ filename }}</h3>
  <h3>Job ID: {{ jobid }}</h3>
  <table border="1">
    <tr>
      <th style="text-align:center;">Antibiotic</th>
      <th style="text-align:center;">Resistant Phenotype</th>
      <th style="text-align:center;">Typing method</th>
      <th style="text-align:center;">Resistances gene</th>
      <th style="text-align:center;">Mutations</th>
    </tr>
{% for key in amr_analysis %}
    <tr>
      <td style="text-align:left;">{{ key['antibiotic'] }}</td>
      <td style="text-align:left;">{{ key['resistant phenotype'] }}</td>
      <td style="text-align:left;">{{ key['typing method'] }}</td>
      <td style="text-align:left;">{{ key['resistances gene'] }}</td>
      <td style="text-align:left;">{{ key['mutations'] }}</td>
    </tr>
{% endfor %}
  </table>
  <h5>Execution time: {{ exec_time }} seconds</h5>
</body>
</html>
