<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HPDB - PTNK</title>
  <style>.accordion{background-color:#eee;color:#444;cursor:pointer;padding:18px;width:100%;border:none;text-align:left;outline:0;font-size:15px;transition:.4s}.accordion:hover,.active{background-color:#ccc}.panel{padding:0 18px;background-color:#fff;max-height:0;overflow:hidden;transition:max-height .2s ease-out}textarea{border:1px solid #999;width:100%;margin:5px 0;padding:3px}</style>
</head>
<body>
  <h3>Filename: {{ filename }}</h3>
  <h3>Job ID: {{ jobid }}</h3>
  <ul>
    {% for key, value in amr_analysis.items() %}
    <li><b>{{ key }}:</b> {{ value }}</li>
    {% endfor %}
  </ul>
  <h5>Execution time: {{ exec_time }} seconds</h5>
</body>
</html>
